html {
    background-color: black;
    background-image: url('img/background.png');
    color: white;
}
body {
    color: white;
    background-color: transparent;
}
*, h1, h2, h3, h4, h5 {

    font-family: 'Freckle Face', cursive;
}
.canvas-row {
    width: 100%;
}
#bgCanvas {
    background: url('img/world3.png') no-repeat 0 0;
    position: absolute;
}
#canvas {
    position: absolute;
}
#fps {
    margin-top: 10px;
    color: #888;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #888;
    font-size: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}

@media (max-width: 800px) {
    .footer {
        position: static;
    }
}

.unicode {
    font: sans-serif;
}

.source-link {
    font-size: 16px;
}

.created-by {
    font-size: 14px;
}